/**
 * CSS-переменные проекта
 * Здесь хранятся все значения переменных в исходном состоянии
 * и их изменения в зависимости от ширины устройства
 */
:root {
    /* Шрифты */
    --main-font: "Inter", Arial, Helvetica, sans-serif;
    --accent-font: "PressStart2P", fantasy, monospace, sans-serif;
  
    /* Веса шрифта */
    --text-weight: 400;
    --title-weight: 700;
  
    /* Размеры границ */
    --border-width: 2px;
  
    /* Отступы */
    --main-padding: clamp(10px, 2.5vw, 20px);
  
    /* Фон страницы */
    --background-image: repeating-linear-gradient(
        90deg,
        #d3d3d3 0px,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
      ),
      repeating-linear-gradient(
        0deg,
        #d3d3d3 0px,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
      ),
      linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);
  
    /* Цвета */
    --page-background-color: #fff; /* Цвет фона страницы */
    --contour-color: #000; /* Цвет контура сердечка */
    --animation-fill-color: #ff0000; /* Цвет заливки при анимации */
  
    --modal-backdrop-color: rgba(0, 0, 0, 0.75); /* Для фона модального окна */
  
  
      /* Тайминги анимаций */
    --timing-animation-s: 0.05s;
    --timing-animation-m: 0.1s;
    --timing-animation-l: 0.3s;
  }